.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
web_uploads/
datasets/
runs/
test/
train/
validation_set/
*.log
.env
push_error.txt
backend_log.txt
last_speed.txt
last_tta.txt
submission.csv
test_output.txt
